---
import Bitcoin from "../../../public/images/Bitcoin.svg";
---

<header class="bg-zinc-900 flex flex-col md:flex-row gap-3 p-20 text-center md:text-left rounded-xl ">
  <div>
    <h1 class="pb-2 text-5xl font-bold ">Protect your password</h1>
    <p class=" my-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, eaque
      ipsa? Rem quod expedita inventore iure aliquam dolorem quibusdam rerum.
    </p>
    <button class=" bg-orange-500 px-3 py-2 hover:bg-orange-400">Start Now</button>
  </div>
  <img src={Bitcoin} alt="" class="w-80 py-4 mx-auto" />
</header>
